.post{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.postWrapper{
    padding: 20px;
}

.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopleft{
    display: flex;
    align-items: center;
}

.profileImage{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.postUsername{
    font-size: 14px;
    font-weight: 500;
}

.postDate{
    font-size: 12px;
    color: gray;
    margin: 0 10px;
}

.postCenter{
    margin: 20px 0;
}

.postImg{
    width: 100%;
   margin-top: 20px;
   max-height: 500px;
    object-fit: cover;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft{
    display: flex;
    align-items: center;
}

.likeIcon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter{
    font-size: 14px;
    font-weight: 500;
}

.postBottomRight{
    display: flex;
}

.postCommentText{
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
}