.rightbar {
    flex: 3.5;
  }
  
  .rightbarWrapper {
    padding: 20px 20px 0 0;
  }
  
  .birthdaysContainer {
    display: flex;
    align-items: center;
    gap: 10px; 
  }
  
  .birthdayImg {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  
  .birthdayText {
    font-weight: 500;
    font-size: 15px;
    color: #333;
  }
  
  .rightbarAd {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
    object-fit: cover;
    /* display: block; */
  }
  
  .rightbarTitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  .rightbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .rightbarFriend {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .rightbarProfileImgContainer {
    position: relative;
  }
  
  .rightbarProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .rightbarOnline {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #4CAF50;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
  }
  
  .rightbarUsername {
    font-weight: 500;
    color: #222;
  }
  